.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  padding: 15px 30px;
  color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 1px 1px 10px #333333a3;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar .nav-links {
  display: flex;
  gap: 40px;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.navbar .nav-links a:hover {
  color: #ffd700;
}

.navbar button {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #ffa500;
}